.left {
	width: 100%;
	background-color: #86bbd8;
	display: none;
}

.right {
	width: 100%;
	padding: 0px 0px 100px;
}

.contact-icons {
	display: block;
	background-color: #86bbd8;
	padding: 40px 0px 228px;
}

.icon-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border: 0.1px solid #070606;
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

.icon-box:hover {
	background-color: #e3e3e3;
}

.icon-text {
	display: flex;
	font-size: 12px;
	font-weight: bold;
	margin: 10px auto;
    justify-content: center;
}

.icon-text span {
	padding: 0px 10px;
	text-align: center;
	font-weight: bold;
}

.left span {
	font-size: small;
	font-weight: normal;
	margin: auto;
}

.contact-form-box {
	position: relative;
	display: block;
	padding: 25px 0px 0px;
}

.contact-form-img {
	display: block;
	height: 100vw;
	width: 100vw;
	border: 1px;
	border-radius: 50%;
	object-fit: cover;
	margin: -211px auto 20px;
	z-index: 3;
}

.contact-form-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	border: none;
}

.form-btn {
	display: flex;
	padding: 0px 28px;
	margin: 0px auto -40px;
	background-color: white;
	width: fit-content;
}

.contact-form .btn {
	border-radius: 0%;
	background-color: white;
	color: #070606;
	font-weight: bold;
}

.contact-form .btn:hover {
	background-color: #070606;
	color: white;
}

.contact-form .form-control {
	border-radius: 0%;
	border-width: 1.5px;
	border-color: #070606;
}

.contact-form {
	padding: 20px;
}

.invalid {
	animation: shake 0.3s ease-in-out;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
	}
}

.contact-form h1 {
	display: flex;
	margin: -20px 0px 40px;
	background-color: white;
	padding: 0px 28px;
	width: fit-content;
}

.contact-form input:not(:focus):not(:placeholder-shown):invalid {
	border-color: rgb(255, 62, 62);
	box-shadow: 0 0 0 0.1rem rgb(255, 141, 141);
}

.contact-form input::placeholder {
	color: #070606;
	opacity: 1;
}

.contact-form textarea::placeholder {
	color: #070606;
	opacity: 1;
}

@media only screen and (min-width: 376px) {
	.contact-form-img {
		height: 376px;
		width: 376px;
	}
}

@media only screen and (min-width: 768px) {
	body,
	html {
		padding: 0;
		margin: 0;
		height: 100%;
	}

	.page {
		position: relative;
		height: auto;
		display: flex;
	}

	.left {
		display: block;
		width: 32%;
		min-height: 100%;
		margin-right: 0px;
		float: left;
		position: relative;
		z-index: 1;
	}

	.right {
		width: 67%;
		float: right;
		padding: 0px 0px 100px;
	}

	.contact-icons {
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		margin-top: 30px;
		margin: 40px 18%;
		background-color: white;
	}

	.icon {
		justify-content: center;
		vertical-align: middle;
	}

	.icon-box {
		display: flex;
	}

	.icon-text {
		display: flex;
		font-size: 12px;
		font-weight: bold;
		margin: auto;
		margin-top: 10px;
	}

	.directory {
		display: flex;
		margin: 30px auto;
		padding: 10px;
		justify-content: center;
		color: #000;
	}

	.contact-form-box {
		margin-left: -200px;
		position: relative;
		display: flex;
	}

	.contact-form-img {
		display: flex;
		justify-content: center;
		vertical-align: middle;
		height: 27vw;
		width: 27vw;
		border: 1px;
		border-radius: 50%;
		background-size: cover;
		margin-top: -40px;
		z-index: 3;
	}

	.contact-form {
		border: 1px solid #f4f3f8;
		border-radius: 30px;
		padding: 0px 100px 20px 28%;
		margin: 0px 5% 0px -25%;
		flex-grow: 1;
		z-index: 0;
	}
}
