.dropdown-toggle::after {
	display: none !important;
}

.nav-link:hover {
	background-color: #f6ae2d;
}

.navbar-toggler {
	z-index: 3;
}

.dropdown-menu.show {
	background-color: #f6ae2d;
	border: none;
	border-radius: 0%;
	margin: 0px;
	padding: 0px;
}

.dropdown-menu:hover {
	background-color: #f6ae2d;
}

.dropdown-item {
	background-color: #f6ae2d;
	color: #0770bb;
	padding: 10px 20px;
}

.dropdown-item:hover {
	background-color: #f6ae2d;
}

.fixed-top {
	position: sticky;
	width: 100%;
	height: 100%;
	top: 0;
	transition: 0.4s;
}

.navbar-custom {
	background-color: #fafafc;
	padding: 0%;
}

.navbar-nav span {
	color: #0770bb;
	font-weight: 600;
	font-size: 1rem;
}

.navbar-nav span:hover {
	text-decoration: underline;
}

.navbar-nav a:link {
	text-decoration: none;
}

.navbar-brand {
	padding: 0%;
	margin: 0%;
}

.logo {
	display: flex;
	flex-direction: column;
	width: auto;
	height: 100px;
	float: left;
	transition: 0.4s;
}

.logo span {
	margin-top: auto;
	margin-bottom: 10px;
}

.contacts-bar-container .row {
	padding: 10px;
	margin: auto;
	align-content: center;
}

.contacts-bar-container span {
	font-size: small;
}

.contacts-bar-container span:hover {
	text-decoration: underline;
}

.contacts-bar-container a:link {
	text-decoration: none;
	color: #000000;
}

@media only screen and (max-width: 991px) {
	.navbar-collapse {
		width: 100%;
		background-color: #fafafc;
		position: fixed;
		z-index: 9;
		display: flex;
		flex-direction: column;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.4s;
		padding: 20px;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (min-width: 992px) {
	.contacts-bar {
		width: auto;
		margin-left: auto;
	}

	.navbar-nav {
		align-items: center;
	}
}
